@import "tailwindcss";

@theme {
  /* --- Palette MINIPAY --- */
  --color-mpro-dark: #1F2F98;
  --color-mpro-blue: #1CA7EC;
  --color-mpro-cyan: #4ADEDE;
  --color-mpro-light: #7BD5F5;
  --color-mpro-bg: #F4F7FE;

  /* --- Design --- */
  --radius-2xl: 20px;
  
  /* On redéfinit les fonts si besoin, sinon Arial fera l'affaire au début */
  --font-sans: 'Inter', ui-sans-serif, system-ui;
}

/* On force le mode clair pour le moment pour correspondre à ton design */
:root {
  --background: #F4F7FE; /* mpro-bg */
  --foreground: #1F2F98; /* mpro-dark */
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Indispensable pour que le scroll se passe dans le main et non le body */
  height: 100vh;
  width: 100vw;
  overflow: hidden; 
  display: flex;
}

/* On s'assure que le conteneur de tes pages (dans layout.tsx) peut scroller */
main {
  flex: 1;
  height: 100vh;
  overflow-y: auto; /* C'est ICI que le scroll est autorisé */
  padding-bottom: 50px; /* Espace de sécurité en bas */
  scroll-behavior: smooth;
}

/* Barre de défilement discrète et élégante */
main::-webkit-scrollbar {
  width: 5px;
}

main::-webkit-scrollbar-track {
  background: transparent;
}

main::-webkit-scrollbar-thumb {
  background: #1CA7EC; /* mpro-blue */
  border-radius: 10px;
}